<div class="container">
  <div cdkDropListGroup class="todo">
    <div class="example-container">
      <h2>To dossss 6666</h2>

      <div
        cdkDropList
        [cdkDropListData]="toDo"
        class="todo example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          *ngFor="let todo of toDo"
          cdkDrag
          [cdkDragData]="todo"
        >
          {{ todo.name }}
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Doing</h2>

      <div
        cdkDropList
        [cdkDropListData]="todoDoing"
        class="doing example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          *ngFor="let todo of todoDoing"
          cdkDrag
          [cdkDragData]="todo"
        >
          {{ todo.name }}
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Done</h2>

      <div
        cdkDropList
        [cdkDropListData]="todoDone"
        class="done example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          *ngFor="let todo of todoDone"
          cdkDrag
          [cdkDragData]="todo"
        >
          {{ todo.name }}
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <button mat-fab color="warn" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
