li {
  cursor: pointer;
}

span {
  font-weight: bold;
}

table {
  width: 100rem;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.tabela {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  box-shadow: none;
}

.bottom {
  display: flex;
  justify-content: flex-end;
}

td .button {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.detail {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

mat-expansion-panel-header mat-panel-title {
  display: flex;
  gap: 0.5rem;
}

mat-expansion-panel-header mat-panel-title i {
  font-weight: bold;
}
