<p-toast></p-toast>
<div class="tabela">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
    <ng-container matColumnDef="userTable">
      <th mat-header-cell *matHeaderCellDef>USER REGISTRATION</th>
      <td mat-cell *matCellDef="let user">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class="pi pi-user"></i>
              {{ user.name }}
            </mat-panel-title>
            <mat-panel-description>
              Click to view User's details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="detail">
            <p><span>ID:</span> {{ user.id }}</p>
            <p><span>E-Mail:</span> {{ user.email }}</p>
            <p><span>Token:</span> {{ user.confirmationToken }}</p>
            <p>
              <span>Create Data:</span>
              {{ user.createAt | date: "dd/MM/yyyy - HH:mm:ss" }}
            </p>
            <p>
              <span>Update Data:</span>
              {{ user.updateAt | date: "dd/MM/yyyy - HH:mm:ss" }}
            </p>
          </div>

          <div class="button">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-user-edit"
              class="p-button-rounded p-button-warning"
              (click)="editUser(user)"
            ></button>

            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              [ngStyle]="{ backgroundColor: 'var(--red-600)' }"
              (click)="removeUser(user.id)"
            ></button>
          </div>
        </mat-expansion-panel>
      </td>

      <td mat-cell *matCellDef="let user"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let user; columns: displayedColumns"></tr>
  </table>
</div>
<div class="bottom">
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-user-plus"
    class="p-button-rounded p-button-success"
    [ngStyle]="{ backgroundColor: 'var(--green-600)' }"
    (click)="openDialog()"
  ></button>
</div>
